#clickbuts {
    position: fixed;
    top: 50%;
    left: 3px;
    width: 440px;
    z-index: 999;
    /* display: block; */
    display: none;
    /* visibility:visible; */
    /* visibility: hidden; */
}
.buts {
    position: relative;
    width: 30%;
    height: 30px;
    background-color: bisque;
}

.textarea0 {
    position:relative;
    /* float: left; */
    /* bottom:30px;  */
    /* left:0; */
    width: 400px;
    height: 200px;
    /* resize: none; */
    /* display: none; */
}
.textarea {
    position:fixed;
    /* float: left; */
    bottom:30px; 
    left:0;
    width: 400px;
    height: 200px;
    /* resize: none; */
    /* display: none; */
}

.download {
    position:fixed;
    /* float: right; */
    bottom:87px; 
    right:10px;
    width: 60px;
    height: 30px;
    background-color: bisque;
    z-index: 999;
    /* display: none; */
}
.textarea2 {
    position:fixed;
    /* float: left; */
    bottom:10px; 
    right:10px;
    width: 150px;
    height: 100px;
    /* resize: none; */
    /* display: none; */
    /* visibility: hidden; */
    /* z-index: -1; */
}