.ht1 {
    position:fixed;
    float: left;
    bottom:230px; 
    left:0;
    width: 305px;
    height: 30px;
    background-color: bisque;
    /* display: none; */
}
.ht2 {
    position:fixed;
    float: left;
    bottom:230px; 
    left:306px;
    width: 99px;
    height: 30px;
    background-color: bisque;
    /* display: none; */
}

.textarea {
    position:fixed;
    /* float: left; */
    bottom:30px; 
    left:0;
    width: 400px;
    height: 200px;
    /* resize: none; */
    /* display: none; */
}
.textarea2 {
    position:fixed;
    /* float: left; */
    bottom:10px; 
    right:10px;
    width: 400px;
    height: 10px;
    /* resize: none; */
    /* display: none; */
    /* visibility: hidden; */
    z-index: -1;
}