body {
    margin: 0px;
}
#heading {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #CCC;
}
a {
    color: #3388ff;
}
#act1 {
    position:absolute;    
    top: 20%;
    left:1%;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    background:linear-gradient(90deg,#0162c8,#55e7fc);
    z-index: 1;
}
#ShowDiv {
    position: fixed;
    top:1%;
    left: 42%;
    display:none;
    border:1px solid #ccc;
    background-color:#f9f9f9;
    padding: 12px 36px;
    opacity: 0.7;
    text-align:center;
    /* padding-top:30px; */
    border-radius: 10px;
    z-index: 1;
}
#showsetting {
    position: fixed;
    top:40%;
    left: 40%;
    border:1px solid rgb(0, 0, 0);
    background-color:#f9f9f9;
    padding: 12px 36px;
    opacity: 1;
    text-align:center;
    /* padding-top:30px; */
    /* border-radius: 10px; */
}
#showtools {
    position: fixed;
    top:1%;
    left: 15%;
    border:1px solid rgb(0, 0, 0);
    background-color:#f9f9f9;
    padding: 10px 10px;
    opacity: 1;
    text-align:center;
    /* padding-top:30px; */
    /* border-radius: 10px; */
}
#select {
    position:fixed;    
    top: 10%;
    left:1%;
    /* display: inline-block; */
    display: inline;
    padding: 12px 12px;
    margin: 10px 0;
    color: rgb(31, 28, 28);
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 20px;
    background-color: #85FFBD;
    background: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    z-index: 1;
}
#map {
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: #333;
    border-color: brown;
    z-index: -1;
}
.leaflet-canvas-layer {
    opacity: 1;
}